html, body {
	background: #000000;
	font-size: 11px;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

canvas {
	display: block;
	height: 100%;
	width: 100%;
}

.ui-dialog-titlebar-close {
	display: none;
}

.ui-widget-content {
	background: rgba(0, 0, 0, 0.5);
}

.ui-dialog {
	padding: 0px;
}

.ui-dialog-titlebar {
	border: 0px;
}

textarea {
	resize: none;
}
