body {
	font-family: 'ariel', sans-serif;
	color: #000000;
	background: #FFFFFF;
}

a {
	color: #404040;
	text-decoration: none;
}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
}

#header {
	background: #DDDDDD;
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif;
	text-align:left;
	height: 46px;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid #AAAAAA;
}

.btn-news {
	color: #404040;
	background: #0000FF url('img/texture.png') no-repeat left top;
	padding: 15px 30px;
	margin: 40px, 0px;
	border-radius: 5px;
}

.btn-news:hover {
	background: #00FF00;
}

.btn {
	color: #404040;
	font-weight: bold;
	font-size: 1.0em;
	padding: 0px 10px;
	margin: 0px, 0px;
}

.btn:hover {
	color: #000000;
}

.pri-nav {
	list-style: none;
	float: left;
}

.pri-nav li {
	float: left;
	margin-right: 20px;
}

.sec-nav {
	list-style: none;
	float: right;
}

.sec-nav li {
	float: left;
	margin-right: 20px;
}

ul.nav {
	margin: 120px 0px 0px 0px;
	list-style: none;
	float: left;
}

ul.nav li {
	float: left;
	margin-right: 20px;
}

#intro {
	margin: 50px 0px 75px 0px;
}

#flenixcities {
	background: #404040;
	border-top: 4px solid #404040;
	border-bottom: 4px solid #404040;
}

#flenixcities img {
	border: 5px solid #CDCDCD;
	margin: 0px 0px 20px 0px;
}

#copyright {
	border-top: 2px solid #AAAAAA;
	background: #DDDDDD;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}